html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}



.loginBox{
	display:flex;
	justify-content: left;
	width:60vh;
	border-left: 0px;
	margin-left:0px;
	padding-top:100px;
	padding-bottom: 100px;
	align-items: center;
	


}

.plantpic{
	display:flex;
	width:55vw;

	
}

nav{
	background-color:#adce74;
	padding-bottom: 200px;
	margin-bottom: 100px;

}

.login-container-1{
	display:flex;
}

@media  (max-width: 400px) {
	.plantpic{
	display:flex;

	width:40vw;
	max-height: 20vh;
   }
	
}

#register-form{
margin-top: 100px;
padding-top: 100px;
display: flex;

	}

button{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bannerClass{
 display: flex;
 flex-direction: column;
 
 align-items: center;

}